* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:  'WorkSans', serif;
}

/* font for body text */
@font-face {
    font-family: 'WorkSans';
    src: url('fonts/WorkSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font for body text, italicised */
@font-face {
    font-family: 'WorkSansItalic';
    src: url('fonts/WorkSansItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font for headings text */
@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    overflow: hidden;
    background-color: var(--background);
    padding: 20px 10px;
    font-family: "LibreBaskerville-Regular";
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    float: left;
    color: var(--header);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: "LibreBaskerville-Regular";
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    transition: 0.50s;
    background-color: #ddd;
    color: var(--hoverLink);
}

header a.active {
    text-decoration: underline;
    color: var(--activeLink);
}

.headerlinks {
    float: right;
}


/* footer */

footer {
    position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

/* style for the hero section */

.hero {
    background-image: url('assets/images/herobg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'LibreBaskerville', 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    font-family: 'LibreBaskerville', 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* color scheme */
:root {

    /* basic color scheme */
    --background: #1a1c20;
    --header: #1e90ff;
    --footer: #1e90ff;

    /* text */
    --h1: #f6f1e7;
    --h2: #f6f1e7;
    --body: #f6f1e7;
    
    /* block color schemes */
    --ingredients: #f4efe5;
    --method: #bf4403;

    /* widget color scheme */
    --greenWidget: #989d35;
    --purpleWidget: #e1a8f1;

    /* link color scheme */
    --hoverLink: #bf4403;
    --activeLink: #1e90ff;
    --visitedLink: #e1a8f1;

}

/* style for featured recipe section */

.featured {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}